body {
    margin: 0;
    background-color: #FFEAD4;
    color: #484848;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    color: #BE253F;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

#container-header {
    width: 100vw;
}

#summer {
    position: absolute;
    left: 50%;
    width: 80%;
    margin-top: 10%;
    transform: translate(-50%);
}

#cards{
    display: flex;
    width: 80%;
    margin: auto;
}

.card {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
}

#enjoy {
    width: 60%;
    fill: white;
    opacity: 50%;
    position: absolute;
    left: 20%;
    margin-top: 20%;
}

#container-footer {
    position: relative;
}

#container-footer div {
    text-align: center;
}